<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Mi Red Social Académica</title>
  <link rel="stylesheet" type="text/css" href="/prehome.css">
  <!-- Enlace a la fuente de iconos FontAwesome -->
  <script src="https://kit.fontawesome.com/642e2adc94.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="/perfil" class="menu-link"><i class="fas fa-user"></i> Mi Perfil</a></li>
      <li><a href="/amigos" class="menu-link"><i class="fas fa-users"></i> Amigos</a></li>
      <li><a href="/mensajes" class="menu-link"><i class="fas fa-envelope"></i> Mensajes</a></li>
      <li><a href="/actividades" class="menu-link"><i class="fas fa-tasks"></i> Actividades</a></li>
      <li><a href="/configuracion" class="menu-link"><i class="fas fa-cog"></i> Configuración</a></li>
    </ul>
  </nav>
  <div class="usuario-info">
    <i class="fas fa-user"></i> <!-- Reemplaza la imagen con el icono de usuario -->
    <h1>Nombre del Usuario</h1>
    <p>Universidad Ejemplo</p>
  </div>
</header>
<main>
  <section class="bienvenida">
    <h2>¡Bienvenido a Biquerito!!!</h2>
  </section>
  <section class="publicar-apunte">
    <h2>Publica un apunte</h2>
    <form id="apunte-form">
      <select name="categoria">
        <option value="-1">-Elige una categoría-</option>
        <option value="1">Categoría 1</option>
        <option value="2">Categoría 2</option>

      </select>
      <input type="text" name="titulo" placeholder="Título" required />
      <textarea name="descripcion" placeholder="Descripción"></textarea>
      <input type="file" name="imagen" accept="image/*" />
      <button type="submit" class="btn-publicar">Publicar</button>
      <p>¿Quieres ver un poco de la página? <a href="/home" aria-label="Ir a página principal">Ir a página principal</a></p>
    </form>
  </section>
  <section class="sugerencias-amigos">
    <h2>Tal vez te interese...</h2>
    <!-- Aquí se mostrarían sugerencias de contenido o amigos que podrían interesar al usuario -->
  </section>
</main>
<footer>
  <p>&copy; 2023 Mi Red Social Académica</p>
</footer>
<script src="/home.js"></script>
</body>

</html>
