<!DOCTYPE html>
<html>
  <head>
    <title>Registrarte</title>
    <link rel="stylesheet" type="text/css" href="/regist.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Registrarte</h1>
        <p>Es rápido y fácil.</p>
      </div>
      <div class="register-section">
        <h2>Registro</h2>
        <form id="register-form">
          <div class="input-container">
            <input type="text" placeholder="Usuario" required />
          </div>
          <div class="input-container">
            <input type="text" placeholder="Nombre" required />
          </div>
          <div class="input-container">
            <input type="password" placeholder="Contraseña" required />
          </div>
          <div class="input-container">
            <input type="email" placeholder="Correo Electrónico" required />
          </div>
          <button class="btn-register">Registrarte</button>
        </form>
      </div>
    </div>
    <script src="/registro.js"></script>
  </body>
</html>
